* {
    z-index: auto;
}

.background {
    display: flex;
    background-color: #C57BAD;
    width: 1800px;
    height: 850px;
    top: 13486px;
    left: -871px;
    font-family: "Poppins";
    z-index: -1;
}

.tbody {
    display: flex;
    position: absolute;
    height: 10px;
    width: 800px;
    margin: 500px 10px 5px 500px;
    color: transparent;
    align-items: center;
    justify-content: center;
}

.button {
    width: 136px;
    height: 113px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    margin: 1px;
    cursor: pointer;
    background-color: #F79AD9;
    border-top: 2000px;
    color: rgb(19, 10, 10);
    border-radius: 100px;
    box-shadow: -3px 2px 2px 2px;
}

.button:hover {
    background-color: rgb(0, 0, 0);
    color: #fff
}

#answers {
    display: flex;
    position: fixed;
    background-color: #F79AD9;
    width: 546px;
    height: 128px;
    margin: 90px 100px 750px 90px;
    color: black;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 5px;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150px;
}

.roseshadown-button {
    background-color: #FF77BB;
}

.space-button {
    position: fixed;
    width: 208px;
    height: 113px;
    right: 490px;
    left: 630px;
    background: #F79AD9;
    border-radius: 100px;
}
